@import 'styles/helper';

.select-log {
  position: absolute;
  right: 42px;
  bottom: 0;
  width: 148px;
  color: $main-color;
  border-bottom: 2px solid $main-color;

  .ant-select-selector {
    height: 48px !important;

    .ant-select-selection-search-input {
      height: 48px !important;
      line-height: 48px;
    }

    .ant-select-selection-placeholder {
      line-height: 48px;
    }

    .ant-select-selection-item {
      line-height: 48px;
    }
  }
}

.log-content {
  height: calc(100vh - 241px - 28px * 2);
  overflow: scroll;
  margin: 28px 40px;
  background-color: #001529;
  border-radius: 4px;
  color: white;
  padding: 18px;

  .ant-empty-image {
    opacity: 0.6;
  }

  .log-content-item {
    margin-bottom: 6px;
    position: relative;
    display: flex;

    & > div {
      display: inline-block;
    }

    .timestamp {
      display: inline-block;
      margin-right: 8px;
      font-size: 9px;
      color: white;
    }

    .level {
      display: inline-block;
      padding: 0 6px;
      margin-right: 8px;
      color: white;
      border-radius: 4px;
      background-color: #0ead00;

      &.error {
        background-color: #d9363e;
        padding: 0 3px;
      }
    }

    .context {
      color: #ffb60c;
      margin-right: 8px;
    }

    .log-item-meta {
      width: 180px;
      min-width: 180px;
    }
  }
}
