$main-color: #fb9f34;

@function main-color-opacity($opacity: 1) {
  @return rgba(251, 159, 52, $opacity);
}

$default-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

$default-box-shadow-light: 0 2px 8px rgba(0, 0, 0, 0.05);
