$main-color: dodgerblue;
$main-border: 1px solid #d4d4d4;

$min-overlay-z-index: 2147483640;
$max-overlay-z-index: 2147483647;

$opacity-rgb: rgba(0, 0, 0, 0);

@function main-color-opacity($opacity: 1) {
  @return rgba(24, 144, 255, $opacity);
}

@mixin default-transition {
  transition: all ease 300ms;
}

@mixin flipX {
  transform: scaleX(-1);
  filter: FlipH();
}

@mixin flipY {
  transform: scaleY(-1);
  filter: FlipV();
}

@mixin flipXY {
  transform: scaleX(-1) scaleY(-1);
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin hide-scroll-bar {
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}

@mixin background-cover {
  background-position: center;
  background-size: cover;
}

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-inline-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
