@import 'styles/helper';
$prop-edit-width: 326px;

.vize-attributes-editor {
  position: relative;
  right: 0;
  z-index: 2;
  width: $prop-edit-width;
  border-left: $default-border;
  background-color: white;
  transition: all ease 300ms;
  transform: translateX(0);

  .show-hidden-bar {
    left: 0;
  }

  &.hidden {
    transform: translateX(calc(100% - 30px));

    &:hover {
      transform: translateX(0);

      .show-hidden-bar {
        display: none;
      }
    }

    .show-hidden-bar {
      display: block;
    }
  }

  & > p {
    margin: 0;
    padding: 0 18px;
    width: 100%;
    border-bottom: $default-border;
    background-color: $default-background-color;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
  }

  .editor-prop-editor-tab {
    border-top: none;

    .ant-tabs-tab {
      width: 33.3333%;
      border-top: none !important;
      margin-left: 0;

      .ant-badge {
        position: absolute;
        right: 10px;
        top: 6px;
      }
    }

    .ant-tabs-nav-list {
      width: 100%;
    }

    .editor-prop-tab-item {
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }

  .editor-prop-item {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 30px 16px;
    max-width: 100%;
    background-color: #ffffff;

    &.with-collapsed > .ant-collapse-item > .ant-collapse-header {
      color: rgba(0, 0, 0, 0.6) !important;
      font-weight: bolder;
      font-size: 13px;
    }

    .ant-form-item {
      display: flex;
      justify-content: space-between;
    }

    .ant-form-item-label {
      position: relative;
      top: -8px;
      //max-width: 44px;
      padding: 0;
      text-align: left;
    }

    .ant-form-item-control {
      & > div {
        min-width: 122px !important;
      }
    }
  }

  .ant-calendar-picker-input.ant-input {
    line-height: 1.5;
  }

  .ant-tabs-nav {
    margin-bottom: 0;
  }

  .ant-tabs-content-holder {
    height: calc(100vh - 126px);
    overflow: scroll;
  }

  .ant-empty {
    margin-top: 64px;

    .ant-empty-description {
      color: #a5a5a5;
    }
  }
}
