@import 'styles/helper';

.vize-attributes-editor {
  width: 326px;
  border-left: $main-border;
  background-color: white;

  .editor-title {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: rgb(250, 250, 250);
    text-align: center;
    font-weight: bold;
    line-height: 32px;
  }

  .editor-attr-tab {
    border-top: none;

    .ant-tabs-tab {
      width: 25%;
      border-top: none !important;
    }

    .tab-item-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      padding: 0 4px;
    }
  }
}