@import 'styles/helper';
$prop-edit-width: 326px;

.vize-attributes-editor {
  position: relative;
  right: 0;
  z-index: 2;
  width: $prop-edit-width;
  border-left: $default-border;
  background-color: white;
  transition: all ease 300ms;
  transform: translateX(0);

  .show-hidden-bar {
    left: 0;
  }

  &.hidden {
    transform: translateX(calc(100% - 30px));

    &:hover {
      transform: translateX(0);

      .show-hidden-bar {
        display: none;
      }
    }

    .show-hidden-bar {
      display: block;
    }
  }

  &>p {
    margin: 0;
    padding-left: 18px;
    width: $prop-edit-width;
    border-bottom: $default-border;
    background-color: $default-background-color;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
  }

  .editor-prop-editor-tab {
    border-top: none;

    .ant-tabs-tab {
      width: 25%;
      border-top: none !important;
    }

    .ant-tabs-nav-list {
      width: 100%;
    }

    .editor-prop-tab-item {
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }

  .editor-prop-item {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 30px 16px;
    max-width: 100%;
    height: calc(100vh - 118px);

    .ant-form-item {
      display: flex;
      justify-content: space-between;
    }

    .ant-form-item-label {
      position: relative;
      top: -8px;
      //max-width: 44px;
      padding: 0;
      text-align: left;
    }

    .ant-form-item-control {
      &>div {
        min-width: 122px !important;
      }
    }
  }

  .ant-calendar-picker-input.ant-input {
    line-height: 1.5;
  }
}