@import 'styles/helper';

* {
    @include hide-scroll-bar;
}

body {
    user-select: none;
}

img {
    pointer-events: none;
}

#vize-main-entry {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
