.form-richtext-wrap {
  .rdw-editor-main {
    height: calc(70vh - 100px);
  }

  a {
    color: black;
  }

  h1 {
    font-size: 24px;
  }

  p {
    white-space: pre-wrap;
    min-height: 1em;
  }

  img,
  audio,
  video {
    max-width: 100%;
    height: auto;
  }

  ul,
  ol {
    margin: 16px 0 16px 24px;
    padding: 0;
    list-style-position: outside;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  blockquote {
    margin: 0 0 10px 0;
    padding: 15px 20px;
    background-color: #f1f2f3;
    border-left: solid 5px #ccc;
    color: #666;
    font-style: italic;
  }

  pre {
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0;
    padding: 15px;
    overflow: auto;
    background-color: #f1f2f3;
    border-radius: 3px;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;

    pre {
      margin: 0;
      padding: 0;
    }
  }
}
