@import 'src/styles/helper';

.vize-materials-tree {
  margin-bottom: 32px;

  .components-tree.select-mode {
    .component-tree-node,
    .child-component-tree-node {
      &:hover,
      &.selected-mode-selected {
        span {
          color: #fa8c16 !important;
        }

        &::before {
          border-radius: 2px;
          top: 4px;
          bottom: 4px;
          right: 5px;
          left: 5px;
          border: 1px solid #ffd591;
          background-color: #fff7e6;
        }
      }
    }
  }

  .ant-tree-directory {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    font-size: 12px;

    .ant-tree-treenode {
      padding: 0;
    }

    .ant-tree-node-content-wrapper {
      padding: 0;

      & > span {
        font-size: 13px;
      }

      &,
      & > .ant-tree-iconEle {
        min-height: 36px;
        line-height: 36px;

        svg {
          position: relative;
          top: 2px;
        }
      }
    }

    .ant-tree-switcher {
      min-height: 36px;
      line-height: 36px;
    }

    .ant-tree-indent-unit {
      width: 6px;
    }

    .ant-tree-treenode.ant-tree-treenode-selected:before {
      border-radius: 2px;
      top: 4px;
      bottom: 4px;
      right: 5px;
      left: 5px;
    }
  }

  .ant-tree-list-holder-inner {
    & > .ant-tree-treenode:first-child::before {
      border-radius: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: $main-border;
    }
  }

  .ant-tree-treenode-selected {
    &.component-tree-node,
    &.child-component-tree-node {
      .ant-tree-switcher-noop::before {
        background-color: white;
      }
    }
  }

  .component-tree-node,
  .child-component-tree-node {
    .ant-tree-switcher-noop::before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgb(38, 38, 38);
      position: relative;
      top: -1px;
    }
  }

  .child-component-tree-node,
  .child-hotarea-tree-node {
    &.deep-1 {
      .ant-tree-indent {
        width: 24px;
      }
    }

    &.deep-2 {
      .ant-tree-indent {
        width: 48px;
      }
    }
  }

  .tree-root-node {
    &.ant-tree-treenode-switcher-open,
    &.ant-tree-treenode-switcher-close {
      &::before {
        border-top: $main-border;
      }
    }
  }

  .components-tree-root-node.ant-tree-treenode-switcher-close {
    &::before {
      border-bottom: none !important;
    }
  }
}

.global-props {
  border-bottom: $main-border;
}

.global-props,
.page-props {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.85);
  background-color: white;
  cursor: pointer;

  & > svg {
    margin-left: 28px;
    margin-right: 5px;
    font-size: 15px;
  }

  &.selected {
    background-color: $main-color !important;
    color: white !important;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
