@import 'styles/helper';
@import '../HotArea/index';

.vize-component-item {
  position: relative;
  overflow: hidden;
  min-height: 22px;

  &.selected {
    & > .vize-component-item-mask {
      border: 2px solid $main-color !important;
    }
    .editor-preview-component-hot-areas {
      border: 2px solid $main-color !important;
    }
  }

  &.selected-with-select-mode {
    & > .vize-component-item-select-mode-mask {
      border: 2px solid $main-color !important;
      background-color: rgba(0, 0, 0, 0.6);

      & > span {
        display: flex;
        color: white;
      }
    }
  }

  &.selected-as-container {
    z-index: $max-overlay-z-index;
    background-color: white;

    & > .vize-component-item-mask {
      display: none;
    }
  }

  .vize-component-item-mask,
  .editor-preview-component-hot-areas
  .vize-component-item-select-mode-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $min-overlay-z-index;
    width: 100%;
    height: 100%;
    border: 2px solid $opacity-rgb;
    transition: all ease 200ms;
  }

  .vize-component-item-mask {
    &:hover {
      border: 1px solid $main-color;
      background-color: main-color-opacity(0.2);

      & > span {
        display: inline-block;
      }
      + .vize-component-event-proxy {
        .editor-preview-component-hot-area--text{
          display: inline-block;
        }
      }
    }

    & > span {
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;
      padding: 4px 8px;
      border-top-right-radius: 6px;
      background-color: $main-color;
      color: white;
      font-size: 12px;
      line-height: 14px;
      opacity: 0.9;
    }
  }

  .vize-component-item-select-mode-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.75);

      & > span {
        display: flex;
        color: white;
      }
      
    }

    & > span {
      display: none;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;

      svg {
        margin-right: 8px;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}

.vize-container-edit-mode-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $min-overlay-z-index + 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

// dragging sortable component
body > .vize-component-item {
  z-index: $max-overlay-z-index;
}


