@import 'styles/helper';
@import '../HotAreaItem/index';

.vize-component-item {
  position: relative;
  overflow: hidden;
  min-height: 22px;

  &.dragging-component-item {
    & > .vize-component-item-mask {
      background-color: main-color-opacity(0.5);
    }
  }

  &.selected,
  &.dragging-component-item {
    & > .vize-component-item-mask {
      border: 2px solid $main-color !important;
    }
  }

  &.selected-with-select-mode {
    & > .vize-component-item-select-mode-mask {
      border: 2px solid $main-color !important;
      background-color: rgba(0, 0, 0, 0.6);

      & > span {
        display: flex;
        color: white;
      }
    }
  }

  &.selected-as-container {
    z-index: $max-overlay-z-index;
    background-color: white;

    & > .vize-component-item-mask {
      display: none;
    }
  }

  .vize-component-item-mask,
  .vize-component-item-select-mode-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: $min-overlay-z-index;
    border: 2px solid $opacity-rgb;
    transition: all ease 200ms;
  }

  .vize-component-item-mask {
    &.preview-mode {
      display: none;
    }

    &:hover {
      border: 1px solid $main-color;
      background-color: main-color-opacity(0.2);

      & > span {
        display: inline-block;

        span {
          font-weight: bolder;
        }
      }

      + .vize-node-event-proxy {
        .editor-preview-component-hot-area--text {
          display: inline-block;
        }
      }
    }

    & > span {
      border-top-right-radius: 6px;
      display: none;
      background-color: $main-color;
      color: white;
      padding: 4px 8px;
      position: absolute;
      font-size: 12px;
      line-height: 14px;
      bottom: 0;
      left: 0;
      opacity: 0.9;
    }
  }

  .vize-component-item-select-mode-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.75);

      & > span {
        display: flex;
        color: white;
      }
    }

    & > span {
      font-size: 14px;
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        font-size: 20px;
        line-height: 20px;
        margin-right: 8px;
      }
    }
  }
}

.vize-container-edit-mode-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: $min-overlay-z-index + 1;
}

// dragging sortable component
body > .vize-component-item {
  z-index: $max-overlay-z-index;
}
