@import 'styles/helper';

.main-header {
  background: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
  border-bottom: $main-border;

  .logo {
    width: 40px;
    height: auto;
  }
}
