.mod {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 95.2vw;
  height: 56.8vw;
}
.primary {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.4vw;
  margin-right: 3.6vw;
  width: 43.07vw;
  height: 56.93vw;
}
.layer {
  position: absolute;
  top: 0;
  align-self: center;
  width: 43.07vw;
  height: 56.93vw;
}
.container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: -0.27vw;
  margin-left: 1.87vw;
  width: 7.87vw;
  height: 9.6vw;
}
.largeIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.87vw;
  height: 9.6vw;
}
.num {
  position: absolute;
  right: 2.13vw;
  bottom: 0.67vw;
  line-height: 5.33vw;
  letter-spacing: -0.8615384615384616px;
  white-space: nowrap;
  color: #ffffff;
  font-family: Roboto-Black;
  font-size: 3.73vw;
  font-weight: 400;
}
.top {
  position: relative;
  margin-top: 0.67vw;
  margin-left: 1.2vw;
  line-height: 3.73vw;
  white-space: nowrap;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 2.67vw;
  font-weight: 400;
}
.pic {
  position: relative;
  align-self: center;
  margin-top: 9.6vw;
  width: 12.27vw;
  height: 12.27vw;
}
.block {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 6.8vw;
  margin-left: 1.87vw;
  width: 16.27vw;
  height: 17.6vw;
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 16.27vw;
  height: 17.6vw;
}
.outer {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 0.4vw;
  margin-left: 0.53vw;
}
.smallItem {
  position: relative;
  width: 15.07vw;
  height: 15.07vw;
}
.priceWrap {
  display: flex;
  position: absolute;
  right: 0.4vw;
  bottom: 0;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 2.67vw;
  background-color: rgba(0, 0, 0, 0.4);
  width: 14vw;
  height: 4.4vw;
}
.price {
  max-width: 12.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 3.2vw;
  white-space: nowrap;
  color: #ffffff;
  font-size: 3.2vw;
  font-weight: 500;
}
.side {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.13vw;
}
.group {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.title {
  position: relative;
  line-height: 5.6vw;
  white-space: nowrap;
  color: #111111;
  font-size: 4vw;
  font-weight: 500;
}
.word {
  position: relative;
  max-width: 32.53vw;
  height: 5.6vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.6vw;
  white-space: nowrap;
  color: #111111;
  font-size: 4vw;
  font-weight: 500;
}
.txtBg {
  position: relative;
  margin-top: 4.27vw;
  width: 29.47vw;
  height: 4vw;
}
.num_1 {
  position: relative;
  margin-top: 1.33vw;
  max-width: 28vw;
  height: 8vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 8vw;
  white-space: nowrap;
  color: #ff1363;
  font-size: 6.93vw;
  font-weight: 500;
}
.container_1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 6.93vw;
  margin-left: 2.67vw;
}
.block_1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 4.27vw;
  margin-left: 2.8vw;
  border-radius: 4.8vw;
  background-image: linear-gradient(-90deg, #ff1263 0%, #ff003a 100%);
  width: 33.2vw;
  height: 9.73vw;
}
.txt {
  margin-top: -0.13vw;
  max-width: 31.6vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  white-space: nowrap;
  color: #ffffff;
  font-size: 4.27vw;
  font-weight: 500;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.8vw;
  height: 6.4vw;
}
