@import 'src/styles/helper';

.resources-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px 0 0;

  .resource-item {
    align-items: center;
    justify-content: center;
    width: 19% !important;
    display: inline-flex;
    margin-bottom: 1.8vw;
    box-shadow: $default-box-shadow;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    max-height: 18vh;
    overflow: hidden;

    .resource-item-operations {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      transition: all ease 300ms;
      color: white;

      svg {
        width: 24px;
        height: auto;
        transition: all ease 300ms;
        margin-bottom: 6px;
      }

      &.selected {
        svg {
          transform: scale(1.5);
        }
      }

      &:hover,
      &.selected {
        opacity: 1;
      }
    }

    .ant-card-cover {
      height: 12.5vw;
      overflow: hidden;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image-preview {
      max-width: 90%;
      max-height: 90%;
      box-shadow: $default-box-shadow;
      width: auto;
      height: auto;
    }

    .other-preview {
      text-align: center;

      .other-preview-extension {
        position: relative;
        display: inline-block;

        svg {
          width: 50px;
          height: auto;
          color: #484848;
        }

        span {
          position: absolute;
          left: 56%;
          bottom: 5px;
          background-color: #484848;
          color: white;
          padding: 0 8px;
          border-radius: 4px;
          font-size: 11px;
        }
      }
    }

    &.audio .ant-card-cover {
      height: 120px;
    }
  }
}

.resources-footer {
  display: flex;
  justify-content: space-between;
}
