@import 'styles/helper';

.create-page {
  text-align: center;

  .ant-drawer-content-wrapper {
    height: 80vh !important;
    width: 880px;
    margin: 0 calc(50% - 440px);

    .ant-drawer-content {
      background-color: #f3f5f9;
    }
  }

  .form-item {
    position: relative;
    margin-bottom: 32px;
    transition: all ease 500ms;
  }

  .form-item-err {
    color: red;

    span {
      font-weight: bold;
      font-size: 20px;
      position: relative;
      top: 5px;
      margin-right: 8px;
    }
  }

  .ant-steps-item-description {
    font-size: 10px;
    color: #9c9c9c !important;
  }

  .ant-steps {
    margin-bottom: 30px;
  }

  .mode-items {
    margin-top: 60px;
  }

  .mode-item {
    text-align: left;
    display: block;
    background-color: white;
    padding: 20px 20px 0 20px;
    border-radius: 6px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 32px;
    cursor: pointer;
    position: relative;
    transition: all ease 600ms;

    h3 {
      font-weight: normal;
      margin-top: 12px;
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.15);
      transform: translateY(-5px);
    }

    &:first-child {
      margin-right: 38px;
    }

    svg {
      width: 64px;
      height: auto;
      position: absolute;
      right: 16px;
      top: 16px;
      opacity: 0.2;
      transform: rotate(10deg);
    }

    p {
      margin-top: 6px;
      margin-bottom: 0;
      color: #9c9c9c;
    }
  }

  .page-detail-form {
    width: 60%;
    margin-top: 32px;
    margin-left: 20%;
    text-align: left;

    .ant-btn.ant-btn-primary {
      margin-left: 125px;
      margin-top: 12px;
    }

    .page-detail-key {
      margin-bottom: 0;

      .ant-form-item-control-input-content {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          color: #9c9c9c;
          margin-bottom: 24px;

          &:first-child {
            margin-right: 6px;
          }

          &:last-child {
            margin-left: 6px;
          }
        }
      }
    }
  }

  .page-create-result {
    .anticon-loading svg {
      width: 30px;
      height: auto;
      margin-bottom: 22px;
      margin-top: 32px;
    }
  }
}
