@import 'styles/helper';

#vize-left-bar {
  width: 180px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0 38px;

    .logo {
      width: 50px;
      height: auto;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu {
    svg {
      width: 20px;
      height: auto;
      margin-right: 12px;
      position: relative;
      top: 5px;
    }
  }
}
