.vize-materials-universal.image {
    position: relative;
}

.vize-material-image {
    width: 100%;
    max-width: 100%;
    display: block;
}

@media only screen and (min-width: 1200px) {
    .vize-materials-universal.image {
        width: 1200px;
        margin: auto;
    }
}
