.vize-pages-list {
  background-color: #fafafa;
  padding-top: 16px;
  padding-bottom: 28px;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0 10px;
    font-size: 13px;

    & > p {
      font-weight: bold;
    }

    span.anticon {
      font-size: 16px;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  main {
    .page-item {
      margin: 6px;
      color: #373737;
      border-radius: 3px;
      font-size: 12px;
      line-height: calc(12px + 8px * 2);
      padding: 0 0 0 18px;
      cursor: pointer;

      &.activated {
        background-color: #e4e4e4;
      }

      .ant-tag {
        margin-left: 12px;
        transform: scale(0.9) translateY(0.5px);
        font-weight: bold;

        & > svg {
          margin-right: 3px;
          position: relative;
          top: 1px;
        }
      }

      .page-item-menu {
        font-size: 18px;
        float: right;
        height: 28px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        &:hover {
          color: dodgerblue;
        }

        & > svg {
          transform: scale(1.3);
        }
      }
    }
  }
}
