.vize-richtext-editable {
  min-height: 100vh;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px 6px;
  border-radius: 3px;
}
