@import 'styles/helper';

.vize-richtext-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;

  .vize-richtext-toolbar-item {
    cursor: pointer;
    margin-right: 6px;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    @include default-transition;

    &.activated {
      background-color: $main-color;
      color: white;
    }
  }

  .vize-richtext-toolbar-split-line {
    width: 1px;
    height: 18px;
    display: inline-block;
    background-color: #e4e4e4;
    margin-right: 8px;
    margin-left: 2px;
    margin-top: 1px;
  }
}

.vize-richtext-hr {
  opacity: 0.1;
  border: 1px solid grey;
}
