@import 'styles/helper';

.resources {
}

.upload-resources {
  .upload-drag-icon {
    width: 50px;
    height: auto;
    margin-top: 12px;
  }

  h3 {
    margin: 8px 0 12px 0;
  }

  .upload-hint {
    & > p {
      font-size: 14px;
      margin-bottom: 8px;
    }

    ul {
      text-align: left;
      width: 290px;
      margin: 0 auto 12px;

      li {
        margin-bottom: 4px;
      }
    }
  }
}
