@import 'styles/helper';

.form-image-picker {
  width: 100%;
  padding-left: 3%;

  .ant-input-group-addon {
    cursor: pointer;
    padding: 0 8px;

    svg {
      width: 14px;
      height: auto;
      margin-top: 4px;
    }
  }

  & > .form-image-picker-preview {
    width: 100%;
    border: $default-border;
    border-radius: 3px;
    margin-top: 1px;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: #fafafa;

    img {
      max-width: 100%;
      max-height: 128px;
    }
  }
}
