@import 'styles/helper';

.editor-prop-edit-data {
  &.global {
    padding: 0 !important;
  }

  .edit-container-button,
  .add-hot-area-button {
    margin-bottom: 18px;
    width: 100%;
    font-size: 12px;
  }
}
