@import 'src/styles/helper';

.editor-prop-edit-style {
  &.component {
    padding: 0 !important;
  }
}

.common-style-form-panel > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0 12px;
}

.common-style-form-panel .form-image-picker {
  width: calc(100% - 40px);
}
