@import 'styles/helper';

.main-header {
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: $default-box-shadow;
  padding: 0 40px 14px;
  z-index: 999;

  & > h1 {
    margin-top: 24px;
  }

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-operations {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .languages {
        margin-right: 8px;
      }

      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        overflow: hidden;
      }
    }
  }

  .search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    .ant-input-search {
      width: 30vw;
      display: block;
    }

    & > button {
      margin-left: 12px;
      border-radius: 2px;

      svg {
        width: 22px;
        height: 22px;
        position: relative;
        top: 2px;
      }
    }
  }

  .ant-breadcrumb-link {
    cursor: pointer;
  }

  .header-menu {
    border-bottom: none;
    position: relative;
    top: 13px;
    left: -13px;
    margin-top: 24px;
  }
}

.user-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 4px;
  }
}
